textarea {
    resize: none;
 }
 
 .text-size-20 {
	font-size: 20px;
}
 
 .text-size-14 {
	font-size: 14px;
}

.green-circle {
	height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin: 0 16px 0 8px;
}

.red-circle {
	height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin: 0 16px 0 8px;
}

.full-height {
    height: calc(100vh - 100px);
}

.full-width {
	width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.no-padding {
	padding-right: 0;
    padding-left: 0;
}

.no-margin {
	margin-right: 0;
    margin-left: 0;
}

.mobile-panel-body {
	min-height: calc(100vh - 150px);
}

.mobile-panel-heading {
	height: 50px;
}

.mobile-navbar {
	margin-bottom: 0px;
}

