textarea {
    resize: none;
 }
 
 .text-size-20 {
	font-size: 20px;
}

.green-circle {
	height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin: 0 16px 0 8px;
}

.red-circle {
	height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    margin: 0 16px 0 8px;
}
